.jumbotron{
    background-color: #540d6e;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
    color: #f3fcf0;
}

.display-4{
    color: #f3fcf0;
}

.lead{
    color: #f3fcf0;
}

.navbar{
    padding-top: 10px;
    margin-top: 0px;
    background-color: #ffd23f;
}

.navbar-brand{
    color: #f3fcf0;
}

.nav-link{
    color: #f3fcf0;
}

.btn-sample { 
    color: #000000; 
    background-color: #ffffff; 
    border-color: #ffd23f; 
    border-width: 1.5px;
} 
   
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
    color: #ffffff; 
    background-color: #5a006a; 
    border-color: #5a006a;
    border-width: 1.5px;
} 

.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
    background-image: none; 
} 

.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
    background-color: #812793; 
    border-color: #812793; 
} 

.btn-sample .badge { 
    color: #812793; 
    background-color: #ffffff; 
}